.benefits
  min-height: 473px
  padding: 70px 0 65px 0
  &__icons
    display: flex
    justify-content: space-between
    margin-top: 70px
  &__icon
    text-align: center
    width: 25%
    font-size: 14px
    img
      display: block
      margin: 0 auto
    span
      margin: 25px 0 20px 0
      text-align: center
      display: block
      font-weight: 700
      font-size: 18px
    a
      color: $button_color
      text-decoration: underline
