.catalog
  padding-bottom: 100px
  &__tabs
    display: flex
    justify-content: center
    align-items: center
    column-gap: 10px
    margin-top: 70px
    list-style-type: none
  &__tab
    width: 222px
    height: 52px
    background: rgba(0, 0, 0, 0.0001)
    border: 2px solid #D0D0D0
    font-weight: 400
    font-size: 18px
    line-height: 52px
    text-align: center
    text-transform: uppercase
    color: #6B6B6B
    transform: skewX(-25deg)
    cursor: pointer
    &:hover
      box-shadow: 10px 5px 5px $button_color
      border: none
    div
      transform: skewX(25deg)
    &_active
      border: none
      background: $button_color
      color: $text_color
  &-item
    width: 303px
    height: 442px
