.footer
  position: relative
  &__info
    position: absolute
    top: 0px
    left: 50%
    transform: translateX(-50%)
    z-index: 999
    width: 460px
    margin: 0 auto
    background-color: $button_color
  &__adr
    display: block
    margin-top: 50px
    font-weight: 500
    font-size: 20px
    line-height: 20px
    color: #FFFFFF
