.footer
  position: relative
  &__info
    position: absolute
    top: 0px
    left: 50%
    transform: translateX(-50%)
    z-index: 999
    width: 460px
    margin: 0 auto
    background-color: $button_color
