.reviews
  padding-bottom: 48px
  &__list
    margin-top: 60px
    display: flex
    flex-direction: column
    row-gap: 60px
  &__item
    display: flex
    justify-content: space-between
    img
      display: block
      margin-right: 60px
